<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>Fourmime - <%= @item[:title] %></title>
    <link rel="shortcut icon" href="/assets/images/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/assets/SCSS/stylesheet.css">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    
    <!-- #CBA to implement locally, won't be using offline development on this project so a CDN is safe -->
    
    <meta name="description" content="An example website for an interview">
    <meta name="author" content="Rhys O'Connor">
    <meta charset="UTF-8">
    <!-- just included for Bing etc. -->
    <meta name="keywords" content="ducks,pineapples,dragons">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper teal lighten-2">
                <a href="/" class="brand-logo hide-on-med-and-down">Four Mime</a>
                <a href="/" class="brand-logo right hide-on-large-only hide-on-small-only">Four Mime</a>
                <a href="/" class="brand-logo right hide-on-med-and-up">Four Mime</a>
                <a href="#" data-activates="sidenav" class="button-collapse"><i class="fa fa-bars fa-fw" style="font-size: 24px;"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/#">Foo</a></li>
                    <li><a href="/#">Foo</a></li>
                    <li><a href="/#">Foo</a></li>
                    <li><a href="/#">Foo</a></li>
                    <li><a href="/#">Foo</a></li>
                </ul>
                <ul class="side-nav" id="sidenav">
                    <li><a class="waves-effect waves-red" href="/projects">Projects</a></li>
                    <li><a class="waves-effect waves-yellow" href="/blog">Blog</a></li>
                    <li><a class="waves-effect waves-orange" href="/contact">Contact</a></li>
                    <li><a class="waves-effect waves-purple" href="/hallofthings">Hall of Things</a></li>
                    <li><a class="waves-effect waves-green" href="/services">Services</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div id="yieldContent">
        <%= yield %>
    </div>
    <div id="lolbaconegg" class="wraptocenter">
        <img id="baconeggimage" style="display: none;" src="/assets/images/bacon.jpg">
    </div>
    
<script>
    $(".button-collapse").sideNav();
    
    var easter_egg = new Konami(function() { 
        var content = $('#yieldContent').detach();
        $('#baconeggimage').slideDown();
        
        setTimeout(function(){
            $('#baconeggimage').slideUp(400, function(){
                $('.navbar-fixed').after(content);
            })
        }, 5000)
    });
</script>
<!--<script>
	var now = new Date();

	if (now.getMonth() == 11 && now.getDate() == 25) {
		snowStorm.autoStart = true;
		snowStorm.snowColor = '#4db6ac';
	} else {
		snowStorm.autoStart = false;
  	}
</script>-->
</body>
</html>
